<?xml version="1.0" encoding="utf-8"?>
<!--
SDK 28:
Stabilnie dzialajace na androidzie 11
'com.google.code.gson:gson:2.8.8 -> 2.8.9
    wywalone implementation 'androidx.constraintlayout:constraintlayout:2.1.0'
androidx.activity:activity-ktx:1.2.1 - > 1.4.0
androidx.core:core-ktx:1.6.0 - > 1.8.0
androidx.appcompat:appcompat:1.3.1 - > 1.4.2
com.google.android.material:material:1.4.0 - > 1.6.1
-->
<!--
13.05.2022
  zmienione z package="com.example.bdlled_02" na package="com.badziol.bdlled_02"
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.bdlled_02">
    <!--
    BLUETOOTH - Umożliwia aplikacjom łączenie się ze sparowanymi urządzeniami Bluetooth.
    BLUETOOTH_ADMIN - Umożliwia aplikacjom wykrywanie i parowanie urządzeń bluetooth.
    (31+ - A12)BLUETOOTH_ADVERTISE - Wymagane, aby móc reklamować się na pobliskich urządzeniach Bluetooth.
    (31+ - A12)BLUETOOTH_CONNECT - Wymagane, aby móc połączyć się ze sparowanym urządzeniem Bluetooth.
    BLUETOOTH_PRIVILEGED -Umożliwia aplikacjom parowanie urządzeń Bluetooth bez interakcji z użytkownikiem oraz zezwalanie lub
            niezezwalanie na dostęp do książki telefonicznej lub wiadomości.
	(31+ - A12)BLUETOOTH_SCAN - Wymagane, aby móc wykrywać i parować pobliskie urządzenia Bluetooth.
    ACCESS_FINE_LOCATION - jest konieczne, ponieważ skanowanie Bluetooth może zbierać informacje o lokalizacji użytkownika.
            Informacje te mogą pochodzić z własnych urządzeń użytkownika, a także z nadajników Bluetooth używanych w lokalizacjach
             takich jak sklepy i obiekty tranzytowe , MUSI być włączone dla api < 31 , dla 31>= MOZE A NIE MUSI

    Jeśli aplikacja jest kierowana do API 28 (android 9) lub niższego, możesz zadeklarować uprawnienie ACCESS_COARSE_LOCATION
    zamiast uprawnienia ACCESS_FINE_LOCATION.


    Usługi działające w systemie Android 10 lub nowszym nie mogą wykrywać urządzeń Bluetooth,
     chyba że mają uprawnienia ACCESS_BACKGROUND_LOCATION.
    -->
<!-- 02.02.2022 dodano :
    - android:maxSdkVersion="30" dla BUUETOOTH , BLUETOOTH_ADMIN
    - wylaczono perma ACCESS_COARSE_LOCATION , BO DOCELOWE API TO 29+, a do jest dla <29

Jeśli Twoja aplikacja nie używa wyników skanowania Bluetooth do określania fizycznej lokalizacji,
możesz zdecydowanie założyć, że Twoja aplikacja nigdy nie korzysta z uprawnień Bluetooth do określania fizycznej lokalizacji.
TO :
 - wywalic FINE LOCATION , a do BLUETOOTH_SKAN dodac android:usesPermissionFlags="neverForLocation"
-->
    <!-- api max max 30 -->
    <!-- z powodu buga z Xiomi ... zamiast zalecanego 30 , dajemy 31
    dodatkowo , wpływa to na metody w StartActivity  : checkPermissions() , gotBtPerms() , Mainactivity gotBtPerms()
     -->
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="31" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" />

    <!--
    31+
    android:usesPermissionFlags="neverForLocation" - uses permission od sdk 31
    ACCESS_FINE_LOCATION , ACCESS_COARSE_LOCATION android:maxSdkVersion="30"
    -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" android:usesPermissionFlags="neverForLocation"
        tools:targetApi="s" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"  android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"  android:maxSdkVersion="30" />

    <!--
 Jeśli Bluetooth jest krytycznym elementem aplikacji,
    możesz dodać flagi do pliku manifestu wskazujące to wymaganie.
    -->
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BdlLed_02">
        <activity
            android:name="com.badziol.bdlled_02.StartActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.badziol.bdlled_02.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
        </activity>
    </application>

</manifest>